In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LinearRegression

In [2]:
import pandas as pd
data = pd.read_csv('Jacob2.csv')
print(data.shape)
print(list(data.columns))
data.head()

(1031, 6)
['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low']

         Date Close/Last  Volume      Open      High       Low
0  08/11/2020    $0.5093  649342   $0.5032     $0.52    $0.499
1  08/10/2020     $0.518  560362     $0.52     $0.52    $0.498
2  08/07/2020    $0.4982  356930   $0.5146   $0.5212   $0.4934
3  08/06/2020     $0.505  418359     $0.51     $0.51    $0.495
4  08/05/2020     $0.508  598244    $0.495   $0.5187   $0.4861

In [3]:
data['Date']=pd.to_datetime(data['Date'])

In [4]:
data['Close/Last'] = data['Close/Last'].str.replace('$', '')
data['Close/Last'] = pd.to_numeric(data['Close/Last'], errors='coerce')

In [5]:
data['Open'] = data['Open'].str.replace('$', '')
data['Open'] = pd.to_numeric(data['Open'], errors='coerce')

In [6]:
data['High'] = data['High'].str.replace('$', '')
data['High'] = pd.to_numeric(data['High'], errors='coerce')

In [7]:
data['Low'] = data['Low'].str.replace('$', '')
data['Low'] = pd.to_numeric(data['Low'], errors='coerce')

In [8]:
data.head()

        Date  Close/Last  Volume    Open    High     Low
0 2020-08-11      0.5093  649342  0.5032  0.5200  0.4990
1 2020-08-10      0.5180  560362  0.5200  0.5200  0.4980
2 2020-08-07      0.4982  356930  0.5146  0.5212  0.4934
3 2020-08-06      0.5050  418359  0.5100  0.5100  0.4950
4 2020-08-05      0.5080  598244  0.4950  0.5187  0.4861

In [9]:
data.to_csv('Ronen2.csv', index=False, encoding='utf-8')